:root {
    --white: #ddd;
    --shadow:#0003;
    --dark-border:#0002;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 0;
}

/* elemetns */

html {
    overflow: auto;
    font-size: 62.5%;
    font-family: "Work Sans", sans-serif;
}

img {
    display: inline-block;
    margin: 0.5rem;
    max-width: 100%;
}

body {
    background-color: var(--background);
    height: 100vh;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

button{
    margin: auto;
    box-shadow: 6px 6px 10px var(--shadow);
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid var(--dark-border);
    border-left: 2px solid var(--dark-border);
    border-radius: 5px;
    background-color: transparent;
    padding: 10px;
    width: 100%;
    font-size: 8px;    
}

/* ids */

/* classes */

.game{
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    flex-direction: column;
    gap: 20px;
    transform: translate(-50%,-50%);
    width: fit-content;

}

.board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 300px;
    height: 300px;
}

.tile{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 6px 10px var(--shadow);
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid var(--dark-border);
    border-left: 2px solid var(--dark-border);
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
}

.game-control-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.pressable-text{
    color: #0005;
}

.pressable:hover{
    box-shadow: 3px 3px 5px var(--shadow);
}

.pressable:focus{
    box-shadow: none
}