:root {
    --dark-border: #0002;
    --shadow: #0003;
    --white: #ddd;
}

*,
*::before,
*::after {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* elements */

body {
    background-color: var(--background);
    height: 100vh;
}

button {
    background-color: transparent;
    border-bottom: 2px solid var(--dark-border);
    border-left: 2px solid var(--dark-border);
    border-radius: 5px;
    border-right: 2px solid white;
    border-top: 2px solid white;
    box-shadow: 6px 6px 10px var(--shadow);
    font-size: 8px;
    margin: auto;
    padding: 10px;
    width: 100%;
}

html {
    font-family: "Work Sans", sans-serif;
    font-size: 62.5%;
    overflow: auto;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

img {
    display: inline-block;
    margin: 0.5rem;
    max-width: 100%;
}

/* classes */

.board {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    width: 300px;
}

.game {
    display: flex;
    flex-direction: column;
    gap: 20px;
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

.game-control-buttons {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}

.pressable:hover {
    box-shadow: 3px 3px 5px var(--shadow);
}

/* .pressable:focus {
    box-shadow: none;
} */

.pressable-text {
    color: #0005;
}

.tile {
    align-items: center;
    background-color: transparent;
    border-bottom: 2px solid var(--dark-border);
    border-left: 2px solid var(--dark-border);
    border-radius: 10px;
    border-right: 2px solid white;
    border-top: 2px solid white;
    box-shadow: 6px 6px 10px var(--shadow);
    display: flex;
    font-size: 20px;
    justify-content: center;
}

/* alert */
.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

/* Alert box styling */
.alert-box {
    background: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transform: scale(0.9);
    font-size: large;
    transition: transform 0.3s;
}

.alert-message{
    padding: 10px;
}

/* Show alert animation */
.alert-overlay.show {
    visibility: visible;
    opacity: 1;
    z-index: 10;
}

.alert-overlay.show .alert-box {
    transform: scale(1);
}

/* Close button */
.alert-button {
    margin-top: 15px;
    padding: 8px 15px;
    border: none;
    background: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.alert-button:hover {
    background: #0056b3;
}